
@{
    ViewBag.Title = "AddAssetMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>AddAssetMaster</title>
    <meta name="description" content="Base form control examples" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>
<body class="wrapper  mt-40" style="display:flex; justify-content:center; align-items: center; ">

    <div class="assetWrapper  mt-40" style="width:1400px">
        <div class="card ">
            <div class="card-header">
                <h1>Add Asset Master</h1>
                
            </div>
            <!--begin::Form-->
            <form>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label>
                                Asset Serial No
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="text" value="" id="slNo" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Make No
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="text" value="" id="MakeNo" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Model No
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="text" value="" id="ModelNo" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Received Date
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="date" value="2011-08-19" id="example-date-input" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Category
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="Category">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Asset Status/Condition
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="text" value="" id="AssetStatus" />
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Is Allocated </label>
                            <div class="radio-inline">
                                <label class="radio">
                                    <input type="radio" checked="checked" name="IsAllocated" />
                                    <span></span>Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="IsAllocated" />
                                    <span></span>No
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Asset Original Location
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="text" value="" id="orgLocation" />
                        </div>
                    </div>
                       

                    
                </div>
                
                <div class="card-footer">
                    <button type="reset" class="btn btn-primary mr-2">Submit</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </div>
            </form>

           
        </div>

        <div class="card mt-2">
            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap py-3">
                    <div class="card-title">
                        <h1>Category Master table</h1>
                    </div>

                </div>
                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-bordered table-checkable" id="IM_datatable">
                        <thead>
                            <tr>
                                <th>Sl No:</th>
                                <th>Make No </th>
                                <th>Model No</th>
                                <th>Received Date</th>
                                <th>Category </th>
                                <th>Assets Status </th>
                                <th>Is Allocated  </th>
                                <th>Assets Original Location </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>64616-103</td>
                                <td>Brazil</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>

                            </tr>
                            <tr>
                                <td>1</td>
                                <td>64616-103</td>
                                <td>Brazil</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>

                            <tr>
                                <td>1</td>
                                <td>64616-103</td>
                                <td>Brazil</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>
                                <td>São Félix do Xingu</td>

                            </tr>


                        </tbody>
                    </table>
                    <!--end: Datatable-->
                </div>
            </div>
        </div>


    </div>






    <script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/lib/assets/js/scripts.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var table = $('#IM_datatable');
        table.DataTable({
            responsive: true,
            pagingType: 'full_numbers',
            order: [],
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
            ]
        });
        table.init();
    </script>

</body>

