
@{
    ViewBag.Title = "AddAssetMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>AddAssetMaster</title>
    <meta name="description" content="Base form control examples" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>

        <div class="card card-custom card-sticky" id="kt_page_sticky_card" style="border-radius:20px;">

            <div class="card-header">

                <div class="card-title d-flex justify-content-between align-items-center w-100">

                     <div class="card-title">
                            <h2 class="card-label roboto-bold font-weight-bolder font-size-h2-lg">
                                <span>ASSET MASTER ENTRY</span>
                            </h2>
                     </div>
                    
                     
                     <button onclick="location.href='@Url.Action("AssetMasterTable", "Home")'" class="btn btn-primary d-flex align-items-center">
                         <span class="svg-icon menu-icon">
                             <!--begin::Svg Icon | path:~/lib/assets/media/svg/icons/Layout/Layout-left-panel-2.svg-->
                             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                 <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                     <rect x="0" y="0" width="24" height="24" />
                                     <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000" />
                                     <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1" />
                                 </g>
                             </svg>
                             <!--end::Svg Icon-->
                         </span>
                         ASSET MASTER LIST
                     </button>
</div>
            </div>

            <div class="card-body">

                <form>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-3">

                                <label>Type of Devive:</label>

                                <select class="form-control select2" style="width:100%" id="Category" name="Category">
                                    <option value=""></option>
                                    <option value="HF">HF</option>
                                    <option value="UHF">UHF</option>
                                    <option value="VHF">VHF</option>

                                </select>
                            </div>

                            <div class="col-lg-3">

                                <label>Device Characteristics:</label>

                                <select class="form-control select2" style="width:100%" id="DeviceCharacteristics" name="Category">
                                    <option value=""></option>
                                    <option value="Fixed">Fixed</option>
                                    <option value="HandHeld">Hand Held</option>

                                </select>
                            </div>

                            <div class="form-group col-lg-3">
                                <label>
                                    Make:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="MakeNo" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    Model:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="ModelNo" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    Asset Serial No:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="slNo" />
                            </div>






                            <div class="form-group col-lg-3">
                                <label>
                                    Asset id:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="AssetId" />
                            </div>

                            <div class="form-group col-lg-3">
                                <label>Is Licensed:</label>

                                <div class="radio-inline">
                                    <label class="radio radio-outline radio-success">
                                        <input type="radio" name="toggle" value="hide" onclick="toggleVisibility(false)" />
                                        <span></span>
                                        Yes
                                    </label>
                                    <label class="radio radio-outline radio-success">
                                        <input type="radio" name="toggle" value="show" onclick="toggleVisibility(true)" checked />
                                        <span></span>
                                        No
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-lg-3" hidden id="LicenseNo">
                                <label>
                                    License No:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" />
                            </div>

                            <div class="form-group col-lg-3">
                                <label>
                                    Installation Date:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="date" value="2011-08-19" id="InstallationDate" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>Is Charger set Inside </label>
                                <div class="radio-inline">
                                    <label class="radio">
                                        <input type="radio" name="ISChargerSet" checked="checked" @*onchange="toggleVisibility(true)*@ />
                                        <span></span>Yes
                                    </label>

                                    <label class="radio">
                                        <input type="radio" name="ISChargerSet" @*onchange="toggleVisibility(false)"*@ />
                                        <span></span>No
                                    </label>
                                </div>
                            </div>


                            <div class="form-group col-lg-3">
                                <label>
                                    PO No:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="PoNo" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    PO Valid Til:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="date" value="2011-08-19" id="InstallationDate" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    Vendor Code:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="VendorCode" />
                            </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    Vendor Name:
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" value="" id="VendorName" />
                            </div>




                            <div class="col-lg-3">

                                <label> Asset Delivered Location:</label>

                                <select class="form-control select2" style="width:100%" id="AssetDeliveredLocation" name="AssetDeliveredLocation">
                                    <option value=""></option>
                                    <option>NRL</option>
                                    <option>SMT</option>
                                    <option>NRL (Guwahati)</option>

                                </select>
                            </div>
                            <div class="col-lg-3">

                                <label> Asset Delivered Location:</label>

                                <select class="form-control select2" style="width:100%" id="AssetDeliveredDepartment" name="AssetDeliveredDepartment">
                                    <option value=""></option>
                                    <option>Refinery Mechanical Maintenance</option>
                                    <option>Refinery Operation</option>
                                    <option>SMT Control Room</option>
                                    <option>Refinery Electrical</option>
                                    <option>Refinery P&U Operation</option>
                                    <option>NRMT Operation</option>
                                    <option>Refinery P&U Operation</option>

                                </select>
                            </div>
                            <div class="col-lg-3">

                                <label> Asset Delivered Location:</label>

                                <select class="form-control select2" style="width:100%" id="AssetDeliveredArea" name="AssetDeliveredArea">
                                    <option value=""></option>
                                    <option>CPP</option>
                                    <option>SRB</option>
                                    <option>CDU-VDU</option>
                                    <option>H2U</option>
                                    <option>MSP</option>

                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    Warranty Till
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="date" value="2011-08-19" id="WarrantyTill" />
                            </div>




                            <div class="col-lg-3">

                                <label>  Asset Status:</label>

                                <select class="form-control select2" style="width:100%" id="AssetStatus" name="AssetStatus">
                                    <option value=""></option>
                                    <option>Fresh</option>
                                    <option>Active</option>
                                    <option>Deactive</option>
                                    <option>Scrap</option>
                                    <option>Dispose</option>

                                </select>
                            </div>

                        </div>
                     </div>
                <div>


                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="reset" class="btn btn-primary mr-2">
                                    <span class="svg-icon svg-icon-white svg-icon-2x">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Save.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z" fill="#000000" fill-rule="nonzero" />
                                                <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                    Enter Asset
                                </button>
                                <button type="reset" class="btn btn-warning">
                                    <span class="svg-icon svg-icon-white svg-icon-2x">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Repeat.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000" />
                                                <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                    Reset
                                </button>
                            </div>
                            <button type="button" class="btn btn-success btn-sm font-weight-bold" id="approveButton">
                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Cloud-upload.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M5.74714567,13.0425758 C4.09410362,11.9740356 3,10.1147886 3,8 C3,4.6862915 5.6862915,2 9,2 C11.7957591,2 14.1449096,3.91215918 14.8109738,6.5 L17.25,6.5 C19.3210678,6.5 21,8.17893219 21,10.25 C21,12.3210678 19.3210678,14 17.25,14 L8.25,14 C7.28817895,14 6.41093178,13.6378962 5.74714567,13.0425758 Z" fill="#000000" opacity="0.3" />
                                            <path d="M11.1288761,15.7336977 L11.1288761,17.6901712 L9.12120481,17.6901712 C8.84506244,17.6901712 8.62120481,17.9140288 8.62120481,18.1901712 L8.62120481,19.2134699 C8.62120481,19.4896123 8.84506244,19.7134699 9.12120481,19.7134699 L11.1288761,19.7134699 L11.1288761,21.6699434 C11.1288761,21.9460858 11.3527337,22.1699434 11.6288761,22.1699434 C11.7471877,22.1699434 11.8616664,22.1279896 11.951961,22.0515402 L15.4576222,19.0834174 C15.6683723,18.9049825 15.6945689,18.5894857 15.5161341,18.3787356 C15.4982803,18.3576485 15.4787093,18.3380775 15.4576222,18.3202237 L11.951961,15.3521009 C11.7412109,15.173666 11.4257142,15.1998627 11.2472793,15.4106128 C11.1708299,15.5009075 11.1288761,15.6153861 11.1288761,15.7336977 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 18.661508) rotate(-90.000000) translate(-11.959697, -18.661508) " />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                                Upload Excel
                            </button>
                        </div>
                    </div>
</form>
            </div>



        </div>

        <!--</div>
        </div>
    </div>-->







    <script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/lib/assets/js/scripts.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>


<script>
    function toggleVisibility(hide) {
        const LicenseNumber = document.getElementById('LicenseNo');

        if (hide === true) {
            LicenseNumber.hidden = true;
        }
        else {
            LicenseNumber.hidden = false;
        }
        // Set the hidden property based on the radio button
    }
</script>

<script>
    $(document).ready(function () {

        $('.select2').select2();



        $('#Category').select2({

            placeholder: "Select Type of Device"

        });

        $('#DeviceCharacteristics').select2({

            placeholder: "Select Device Characteristics"

        });

        $('#AssetStatus').select2({

            placeholder: "Select Asset Status"

        });

        $('#AssetDeliveredLocation').select2({

            placeholder: "Select Asset Delivered Location"

        });

        $('#AssetDeliveredDepartment').select2({

            placeholder: "Asset Delivered Department"

        });

        $('#AssetDeliveredArea').select2({

            placeholder: "Select Asset Delivered Area"

        });

        $('#req_for_oth').select2({

            placeholder: "Select to whom requisition is for"

        });

        $('#nm_staff').select2({

            placeholder: "Select Non_Management Staff personnel"

        });



    });

</script>
    <script>
        var table = $('#IM_datatable');
        table.DataTable({
            responsive: true,
            pagingType: 'full_numbers',
            order: [],
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
            ]
        });
        table.init();
    </script>
    
    <script>
        $('#AssetStatus').select2({

            placeholder: "Select Location"

        });

       
    </script>

