
@{
    ViewBag.Title = "AMCMappingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d-flex flex-column-fluid" style="margin-top:-30px">
    <div class="container-fluid">
        <div class="card card-custom gutter-b example example-compact" style="border-radius:8px;">
            <!--begin::Form-->
            <div class="card-body">

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>
                            Asset ID:
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-control form-control-lg" id="UserRole">
                            <option></option>
                            <option>NRL-AID-0001</option>
                            <option>NRL-AID-0002</option>
                            <option>NRL-AID-0003</option>
                            <option>NRL-AID-0004</option>
                            <option>NRL-AID-0005</option>
                        </select>

                        <span class="form-text text-muted">Select Asset ID</span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label>
                            Asset Serial No:
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-control form-control-lg" id="UserName">
                            <option></option>
                            <option>NRL-IM-0001</option>
                            <option>NRL-IM-0002</option>
                            <option>NRL-IM-0003</option>
                            <option>NRL-IM-0004</option>
                        </select>

                        <span class="form-text text-muted">Select Asset Serial Number</span>
                    </div>


                    <div class="form-group col-lg-2">
                        <label class="font-weight-bolder">PO Number</label>
                        <input class="form-control" type="text" value=" " id="returnOnBehalf" />

                        <span class="form-text text-muted">Enter the AMC PO Number.</span>
                    </div>
                    <div class="form-group col-lg-2">
                        <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-sm btn-success mr-2 mt-7">
                            <span class="svg-icon svg-icon-white svg-icon-2x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Code\Spy.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M12,3 C16.418278,3 20,6.581722 20,11 L20,21 C20,21.5522847 19.5522847,22 19,22 L5,22 C4.44771525,22 4,21.5522847 4,21 L4,11 C4,6.581722 7.581722,3 12,3 Z M9,10 C7.34314575,10 6,11.3431458 6,13 C6,14.6568542 7.34314575,16 9,16 L15,16 C16.6568542,16 18,14.6568542 18,13 C18,11.3431458 16.6568542,10 15,10 L9,10 Z" fill="#000000" />
                                        <path d="M15,14 C14.4477153,14 14,13.5522847 14,13 C14,12.4477153 14.4477153,12 15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 Z M9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 C9.55228475,12 10,12.4477153 10,13 C10,13.5522847 9.55228475,14 9,14 Z" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                            Validate
                        </button>
                    </div>
                    @*<div class="form-group col-lg-4">
            <label>
                Role Status
                <span class="text-danger">*</span>
            </label>
            <select class="form-control form-control-lg" id="UserStatus">

                <option>Active</option>
                <option>Deactive</option>
            </select>

            <span class="form-text text-muted">Select Role Status.</span>
        </div>*@





                    <div class="col-lg-4 col-md-12 mt-7">
                        <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-sm btn-primary mr-2">
                            <span class="svg-icon svg-icon-white svg-icon-2x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Search.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                            Search
                        </button>
                        @*@Html.ActionLink("Reset", "AdminReport", new { }, new { @class = "btn btn-secondary" })*@
                        <button type="button" id="btnGenerate" name="btnGenerate" class="btn btn-sm btn-warning">
                            <span class="svg-icon svg-icon-white svg-icon-2x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Repeat.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000" />
                                        <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                            Reset
                        </button>


                    </div>

                </div>
            </div>


        </div>
        <div class="card card-custom gutter-b" style="border-radius:8px;">
            <div class="card-header flex-wrap py-3">
                <div class="card-title d-flex justify-content-between align-items-center w-100">
                    <div class="card-title">
                        <h2 class="card-label font-weight-bolder">
                            AMC MAPPING
                        </h2>
                    </div>

                    <button onclick="location.href='@Url.Action("AssetMasterTable", "Home")'" class="btn btn-primary d-flex align-items-center">
                        <span class="svg-icon menu-icon">
                            <!--begin::Svg Icon | path:~/lib/assets/media/svg/icons/Layout/Layout-left-panel-2.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000" />
                                    <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        ASSET MASTER LIST
                    </button>


                </div>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->

                <div class="form-group row">
                    <div class="col-lg-4">
                        <label class="font-weight-bolder">Make</label>
                        <input class="form-control" type="text" value="Motorola" id="Make" disabled />
                    </div>
                    <div class="col-lg-4">
                        <label class="font-weight-bolder">Model</label>
                        <input class="form-control" type="text" value="M-VHF" id="Model" disabled />
                    </div>
                    <div class="col-lg-4">
                        <label class="font-weight-bolder">Installation Date</label>
                        <input class="form-control" type="text" value="12-10-2023" id="installationDate" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-4">
                        <label class="font-weight-bolder">Category</label>
                        <input class="form-control" type="text" value="VHF" id="VHF" disabled />
                    </div>
                    <div class="col-lg-4">
                        <label class="font-weight-bolder">Current Location</label>
                        <input class="form-control" type="text" value="Numaligarh" id="location" disabled />
                    </div>
                    <div class="form-group col-lg-3" id="VC">
                        <label class="font-weight-bolder">
                            AMC Vendor Code
                            <span class="text-danger"></span>
                        </label>
                        <input class="form-control" type="text" value="1005688" id="AMCVendorCode" disabled/>
                    </div>
                </div>

                <div class="form-group row">
                            
                            <div class="form-group col-lg-4" id="VN" >
                                <label class="font-weight-bolder">
                                    AMC Vendor Name
                                    
                                </label>
                                <input class="form-control" type="text" value="North-Eastern Suppliers" id="AMCVendorName" disabled/>
                            </div>


                            <div class="form-group col-lg-4" id="ED" >
                                <label class="font-weight-bolder">
                                    AMC Expiry Date
                                    
                                </label>
                                <input class="form-control" type="date" value="2011-10-14" id="AMCExpiryDate" disabled/>
                            </div>
                </div>

                <div class="card-title mt-1">
                    <h4 class="card-label font-weight-bolder">
                        DETAILS
                    </h4>
                </div>

                <table class="table table-bordered table-checkable" id="IM_datatable">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Asset ID</th>
                            <th>Asset Serial Number</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Category</th>
                            <th>AMC Vendor Code</th>
                            <th>AMC Vendor Name</th>
                            <th>AMC Expiry Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>NRL-IM-001</td>
                            <td>NRL-IM-VHF-0008</td>
                            <td>Motorola</td>
                            <td>M-VHF</td>
                            <td>VHF</td>
                            <td>30086</td>
                            <td>North-Eastern Suppliers</td>
                            <td>18 Oct 2028</td>
                        </tr>
                    </tbody>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>

</div>


<!-- Cancellation Remarks Modal-->
<div class="modal fade" id="editUserRole" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">UPDATE ROLE MAPPING</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mt-2">
                        <label class="font-weight-bolder">Select User Name:</label>
                        <select class="form-control select2" style="width:100%" id="updateUserName" name="updateUserName">
                            <option></option>
                            <option>Sanjeev Dibragede</option>
                            <option>Anjan Bora</option>
                            <option>Bibhuti Sharma</option>
                            <option>Ajit Das</option>
                            <option>Tamanna Fernaz Hussain</option>
                        </select>

                        <span class="form-text text-muted">Select the user to whom role to be assigned.</span>
                    </div>


                    <div class="col-lg-6 col-md-12 mt-2">
                        <label class="font-weight-bolder">Select Role Name:</label>
                        <select class="form-control select2" style="width:100%" id="updateRole" name="updateRole">
                            <option></option>
                            <option>Location Admin</option>
                        </select>

                        <span class="form-text text-muted">Select the role to be assigned.</span>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-md btn-success" id="updateButton">
                    <span class="svg-icon svg-icon-white svg-icon-2x">
                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Update.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                    Update
                </button>
                <button type="button" id="btnGenerate" name="btnGenerate" class="btn btn-sm btn-warning">
                    <span class="svg-icon svg-icon-white svg-icon-2x">
                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Repeat.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000" />
                                <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                    Reset
                </button>

            </div>
        </div>
    </div>
</div>
<!-- Modal-->



<script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/lib/assets/js/scripts.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script>
    var table = $('#IM_datatable');
    table.DataTable({
        responsive: true,
        pagingType: 'full_numbers',
        order: [],
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
        ]
    });
    table.init();
</script>

<script>
    $('#Role').select2({
        placeholder: "Select Role"
    });

    $('#UserName').select2({
        placeholder: "Select Employee Name"
    });

    $('#UserRole').select2({
        placeholder: "Select Role Name"
    });

    $('#UserStatus').select2({
        placeholder: "Select Employee Name"
    });

    $('#updateUserName').select2({
        placeholder: "Select Employee Name"
    });

    $('#updateRole').select2({
        placeholder: "Select Role Name"
    });
</script>

<script>
    $("#activateButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Activate"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Activated",
                    "User has been activated successfully",
                    "success"
                )
                toggleDeactivateButton();
            }
        });
    });


    $("#deactivateButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Deactivate"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Dectivated",
                    "User has been deactivated successfully",
                    "success"
                )
                toggleActivateButton();
            }
        });
    });


    $("#updateButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Update"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Updated",
                    "User Role has been updated successfully",
                    "success"
                )
            }
        });
    });


    function toggleDeactivateButton() {
        const activateButton = document.getElementById('activateButton');
        const deactivateButton = document.getElementById('deactivateButton');
        activateButton.hidden = true;
        deactivateButton.hidden = false;

    }

    function toggleActivateButton() {
        const activateButton = document.getElementById('activateButton');
        const deactivateButton = document.getElementById('deactivateButton');
        activateButton.hidden = false;
        deactivateButton.hidden = true;
    }
</script>






