
@{
    ViewBag.Title = "AMCMappingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}










<div class="d-flex flex-column-fluid" style="margin-top:-30px">
    <div class="container-fluid">


        <div class="card card-custom gutter-b" style="border-radius: 25px;">

            <div class="card-header card-header-tabs-line">
                <div class="card-title d-flex justify-content-between align-items-center w-100">

                    <div class="card-toolbar">

                        <ul class="nav nav-tabs nav-bold nav-tabs-line">

                            <li class="nav-item">

                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_4" onclick="Hide()">

                                    <span class="svg-icon svg-icon-primary svg-icon-2x">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Code\Git3.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M7,11 L15,11 C16.1045695,11 17,10.1045695 17,9 L17,8 L19,8 L19,9 C19,11.209139 17.209139,13 15,13 L7,13 L7,15 C7,15.5522847 6.55228475,16 6,16 C5.44771525,16 5,15.5522847 5,15 L5,9 C5,8.44771525 5.44771525,8 6,8 C6.55228475,8 7,8.44771525 7,9 L7,11 Z" fill="#000000" opacity="0.3" />
                                                <path d="M6,21 C7.1045695,21 8,20.1045695 8,19 C8,17.8954305 7.1045695,17 6,17 C4.8954305,17 4,17.8954305 4,19 C4,20.1045695 4.8954305,21 6,21 Z M6,23 C3.790861,23 2,21.209139 2,19 C2,16.790861 3.790861,15 6,15 C8.209139,15 10,16.790861 10,19 C10,21.209139 8.209139,23 6,23 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M18,7 C19.1045695,7 20,6.1045695 20,5 C20,3.8954305 19.1045695,3 18,3 C16.8954305,3 16,3.8954305 16,5 C16,6.1045695 16.8954305,7 18,7 Z M18,9 C15.790861,9 14,7.209139 14,5 C14,2.790861 15.790861,1 18,1 C20.209139,1 22,2.790861 22,5 C22,7.209139 20.209139,9 18,9 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M6,7 C7.1045695,7 8,6.1045695 8,5 C8,3.8954305 7.1045695,3 6,3 C4.8954305,3 4,3.8954305 4,5 C4,6.1045695 4.8954305,7 6,7 Z M6,9 C3.790861,9 2,7.209139 2,5 C2,2.790861 3.790861,1 6,1 C8.209139,1 10,2.790861 10,5 C10,7.209139 8.209139,9 6,9 Z" fill="#000000" fill-rule="nonzero" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>

                                    <span class="nav-text  ml-2" style="font-size: 1.2rem !important">SAP PO Number</span>

                                </a>



                            </li>

                            <li class="nav-item">

                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_4" onclick="Hide()">

                                    <span class="svg-icon svg-icon-primary svg-icon-2x">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Code\Git4.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M6,7 C7.1045695,7 8,6.1045695 8,5 C8,3.8954305 7.1045695,3 6,3 C4.8954305,3 4,3.8954305 4,5 C4,6.1045695 4.8954305,7 6,7 Z M6,9 C3.790861,9 2,7.209139 2,5 C2,2.790861 3.790861,1 6,1 C8.209139,1 10,2.790861 10,5 C10,7.209139 8.209139,9 6,9 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M7,11.4648712 L7,17 C7,18.1045695 7.8954305,19 9,19 L15,19 L15,21 L9,21 C6.790861,21 5,19.209139 5,17 L5,8 L5,7 L7,7 L7,8 C7,9.1045695 7.8954305,10 9,10 L15,10 L15,12 L9,12 C8.27142571,12 7.58834673,11.8052114 7,11.4648712 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path d="M18,22 C19.1045695,22 20,21.1045695 20,20 C20,18.8954305 19.1045695,18 18,18 C16.8954305,18 16,18.8954305 16,20 C16,21.1045695 16.8954305,22 18,22 Z M18,24 C15.790861,24 14,22.209139 14,20 C14,17.790861 15.790861,16 18,16 C20.209139,16 22,17.790861 22,20 C22,22.209139 20.209139,24 18,24 Z" fill="#000000" fill-rule="nonzero" />
                                                <path d="M18,13 C19.1045695,13 20,12.1045695 20,11 C20,9.8954305 19.1045695,9 18,9 C16.8954305,9 16,9.8954305 16,11 C16,12.1045695 16.8954305,13 18,13 Z M18,15 C15.790861,15 14,13.209139 14,11 C14,8.790861 15.790861,7 18,7 C20.209139,7 22,8.790861 22,11 C22,13.209139 20.209139,15 18,15 Z" fill="#000000" fill-rule="nonzero" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>


                                    <span class="nav-text ml-2" style="font-size: 1.2rem !important">RPO Number</span>

                                </a>

                            </li>



                        </ul>

                    </div>

                    <button onclick="location.href='@Url.Action("AMCMappingList", "Home")'" class="btn btn-primary d-flex align-items-center">
                        <span class="svg-icon menu-icon">
                            <!--begin::Svg Icon | path:~/lib/assets/media/svg/icons/Layout/Layout-left-panel-2.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M10,4 L21,4 C21.5522847,4 22,4.44771525 22,5 L22,7 C22,7.55228475 21.5522847,8 21,8 L10,8 C9.44771525,8 9,7.55228475 9,7 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M10,10 L21,10 C21.5522847,10 22,10.4477153 22,11 L22,13 C22,13.5522847 21.5522847,14 21,14 L10,14 C9.44771525,14 9,13.5522847 9,13 L9,11 C9,10.4477153 9.44771525,10 10,10 Z M10,16 L21,16 C21.5522847,16 22,16.4477153 22,17 L22,19 C22,19.5522847 21.5522847,20 21,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,17 C9,16.4477153 9.44771525,16 10,16 Z" fill="#000000" />
                                    <rect fill="#000000" opacity="0.3" x="2" y="4" width="5" height="16" rx="1" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                        AMC MAPPING LIST
                    </button>

                </div>
            </div>

                <div class="card-body">

                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="kt_tab_pane_1_4" role="tabpanel" aria-labelledby="kt_tab_pane_1_4">



                            @* Lemon Tree Executive Form *@

                            <!--begin::Form-->

                            <form class="form">

                                <div class="card-body">

                                    <div class="row">

                                        <div class="form-group col-lg-2">
                                            <label class="font-weight-bolder">PO Number</label>
                                            <input class="form-control" type="text" value=" " id="returnOnBehalf" />

                                            <span class="form-text text-muted">Enter the SAP PO Number.</span>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-sm btn-success mr-2 mt-7">
                                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Code\Spy.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path d="M12,3 C16.418278,3 20,6.581722 20,11 L20,21 C20,21.5522847 19.5522847,22 19,22 L5,22 C4.44771525,22 4,21.5522847 4,21 L4,11 C4,6.581722 7.581722,3 12,3 Z M9,10 C7.34314575,10 6,11.3431458 6,13 C6,14.6568542 7.34314575,16 9,16 L15,16 C16.6568542,16 18,14.6568542 18,13 C18,11.3431458 16.6568542,10 15,10 L9,10 Z" fill="#000000" />
                                                            <path d="M15,14 C14.4477153,14 14,13.5522847 14,13 C14,12.4477153 14.4477153,12 15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 Z M9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 C9.55228475,12 10,12.4477153 10,13 C10,13.5522847 9.55228475,14 9,14 Z" fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                                Validate
                                            </button>
                                        </div>


                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                Asset ID:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="form-control form-control-lg" id="AssetIDSAPPO">
                                                <option></option>
                                                <option>NRL-AID-0001</option>
                                                <option>NRL-AID-0002</option>
                                                <option>NRL-AID-0003</option>
                                                <option>NRL-AID-0004</option>
                                                <option>NRL-AID-0005</option>
                                            </select>

                                            <span class="form-text text-muted">Select Asset ID</span>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                Asset Serial No:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="form-control form-control-lg" id="AssetSerialNoSAPPO">
                                                <option></option>
                                                <option>NRL-IM-0001</option>
                                                <option>NRL-IM-0002</option>
                                                <option>NRL-IM-0003</option>
                                                <option>NRL-IM-0004</option>
                                            </select>

                                            <span class="form-text text-muted">Select Asset Serial Number</span>
                                        </div>



                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Make</label>
                                            <input class="form-control" type="text" value="Motorola" id="Make" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Model</label>
                                            <input class="form-control" type="text" value="M-VHF" id="Model" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Installation Date</label>
                                            <input class="form-control" type="text" value="12-10-2023" id="installationDate" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Category</label>
                                            <input class="form-control" type="text" value="VHF" id="VHF" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Current Location</label>
                                            <input class="form-control" type="text" value="Numaligarh" id="location" disabled />
                                        </div>

                                        <div class="form-group col-lg-4" id="VC">
                                            <label class="font-weight-bolder">
                                                Supplier Vendor Code
                                                <span class="text-danger"></span>
                                            </label>
                                            <input class="form-control" type="text" value="1005688" id="AMCVendorCode" disabled />
                                        </div>


                                    </div>

                                    <div class="form-group row">

                                        <div class="form-group col-lg-4" id="VN">
                                            <label class="font-weight-bolder">
                                                Supplier Vendor Name

                                            </label>
                                            <input class="form-control" type="text" value="North-Eastern Suppliers" id="AMCVendorName" disabled />
                                        </div>


                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                Supplier AMC Expiry
                                            </label>
                                            <input class="form-control" type="text" value="14th Oct 2025" id="SupplierAMCExpiry" disabled />
                                        </div>

                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">AMC PO same as Procurement PO:</label>

                                            <div class="radio-inline">
                                                <label class="radio radio-outline radio-success">
                                                    <input type="radio" name="toggle" value="hide" onclick="toggleVisibility(true)" checked />
                                                    <span></span>
                                                    Yes
                                                </label>
                                                <label class="radio radio-outline radio-success">
                                                    <input type="radio" name="toggle" value="show" onclick="toggleVisibility(false)" />
                                                    <span></span>
                                                    No
                                                </label>
                                            </div>

                                            <span class="form-text text-muted">Is AMC PO same as Procurement PO?</span>
                                        </div>

                                    </div>

                                    <div class="row AMCVD" id="AMCVD">

                                        <div class="form-group col-lg-2">
                                            <label class="font-weight-bolder"> AMC PO Number</label>
                                            <input class="form-control" type="text" value=" " id="returnOnBehalf" />

                                            <span class="form-text text-muted">Enter the AMC PO Number.</span>
                                        </div>
                                        <div class="form-group col-lg-2">
                                            <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-sm btn-success mr-2 mt-7">
                                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Cloud-download.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <path d="M5.74714567,13.0425758 C4.09410362,11.9740356 3,10.1147886 3,8 C3,4.6862915 5.6862915,2 9,2 C11.7957591,2 14.1449096,3.91215918 14.8109738,6.5 L17.25,6.5 C19.3210678,6.5 21,8.17893219 21,10.25 C21,12.3210678 19.3210678,14 17.25,14 L8.25,14 C7.28817895,14 6.41093178,13.6378962 5.74714567,13.0425758 Z" fill="#000000" opacity="0.3" />
                                                            <path d="M11.1288761,15.7336977 L11.1288761,17.6901712 L9.12120481,17.6901712 C8.84506244,17.6901712 8.62120481,17.9140288 8.62120481,18.1901712 L8.62120481,19.2134699 C8.62120481,19.4896123 8.84506244,19.7134699 9.12120481,19.7134699 L11.1288761,19.7134699 L11.1288761,21.6699434 C11.1288761,21.9460858 11.3527337,22.1699434 11.6288761,22.1699434 C11.7471877,22.1699434 11.8616664,22.1279896 11.951961,22.0515402 L15.4576222,19.0834174 C15.6683723,18.9049825 15.6945689,18.5894857 15.5161341,18.3787356 C15.4982803,18.3576485 15.4787093,18.3380775 15.4576222,18.3202237 L11.951961,15.3521009 C11.7412109,15.173666 11.4257142,15.1998627 11.2472793,15.4106128 C11.1708299,15.5009075 11.1288761,15.6153861 11.1288761,15.7336977 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 18.661508) rotate(-270.000000) translate(-11.959697, -18.661508) " />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                                Fetch
                                            </button>
                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                AMC Vendor Code
                                            </label>
                                            <input class="form-control" type="text" value="150086" id="AMCVendorCode" disabled />
                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                AMC Vendor Name
                                            </label>
                                            <input class="form-control" type="text" value="North-Eastern Suppliers" id="AMCVendorName" disabled />
                                        </div>

                                    </div>

                                    <div class="row AMCVD">
                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                AMC Expiry Date
                                            </label>
                                            <input class="form-control" type="date" value="18 Dec 2026" id="AMCExpiryDate" disabled />
                                        </div>
                                    </div>


                                </div>

                                <div class="card-footer">

                                    <div class="row">

                                        <div class="col-lg-6">

                                            <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-sm btn-primary mr-2">
                                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Save.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z" fill="#000000" fill-rule="nonzero" />
                                                            <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5" />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                                Map AMC
                                            </button>

                                            <button type="button" id="btnGenerate" name="btnGenerate" class="btn btn-sm btn-warning">
                                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Repeat.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000" />
                                                            <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                                Reset
                                            </button>

                                        </div>

                                    </div>

                                </div>

                            </form>

                            <!--end::Form-->

                        </div>

                        <div class="tab-pane fade" id="kt_tab_pane_2_4" role="tabpanel" aria-labelledby="kt_tab_pane_2_4">

                            @* NRL Executive Form *@

                            <!--begin::Form-->

                            <form class="form">

                                <div class="card-body">

                                    <div class="row">

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">PO Number</label>
                                            <input class="form-control" type="text" value=" " id="RPONumber" />

                                            <span class="form-text text-muted">Enter the RPO Number.</span>
                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                Asset ID:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="form-control form-control-lg" id="AssetIDRPO" style="width: 100%;">
                                                <option></option>
                                                <option>NRL-AID-0001</option>
                                                <option>NRL-AID-0002</option>
                                                <option>NRL-AID-0003</option>
                                                <option>NRL-AID-0004</option>
                                                <option>NRL-AID-0005</option>
                                            </select>

                                            <span class="form-text text-muted">Select Asset ID</span>
                                        </div>
                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                Asset Serial No:
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="form-control form-control-lg" id="AssetSerialNoRPO" style="width: 100%;">
                                                <option></option>
                                                <option>NRL-IM-0001</option>
                                                <option>NRL-IM-0002</option>
                                                <option>NRL-IM-0003</option>
                                                <option>NRL-IM-0004</option>
                                            </select>

                                            <span class="form-text text-muted">Select Asset Serial Number</span>
                                        </div>



                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Make</label>
                                            <input class="form-control" type="text"  id="Make" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Model</label>
                                            <input class="form-control" type="text" id="Model" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Installation Date</label>
                                            <input class="form-control" type="text"  id="installationDate" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Category</label>
                                            <input class="form-control" type="text" id="VHF" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">Current Location</label>
                                            <input class="form-control" type="text"  id="location" />
                                        </div>

                                        <div class="form-group col-lg-4" id="VC">
                                            <label class="font-weight-bolder">
                                                Supplier Vendor Code
                                                <span class="text-danger"></span>
                                            </label>
                                            <input class="form-control" type="text" id="AMCVendorCode" />
                                        </div>


                                    </div>

                                    <div class="form-group row">

                                        <div class="form-group col-lg-4" id="VN">
                                            <label class="font-weight-bolder">
                                                Supplier Vendor Name

                                            </label>
                                            <input class="form-control" type="text" id="AMCVendorName" />
                                        </div>


                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                Supplier AMC Expiry
                                            </label>
                                            <input class="form-control" type="text" id="SupplierAMCExpiry" />
                                        </div>

                                        <div class="col-lg-4">
                                            <label class="font-weight-bolder">AMC PO same as Procurement PO:</label>

                                            <div class="radio-inline">
                                                <label class="radio radio-outline radio-success">
                                                    <input type="radio" name="toggle" value="hide" onclick="toggleVisibility(true)" checked />
                                                    <span></span>
                                                    Yes
                                                </label>
                                                <label class="radio radio-outline radio-success">
                                                    <input type="radio" name="toggle" value="show" onclick="toggleVisibility(false)" />
                                                    <span></span>
                                                    No
                                                </label>
                                            </div>

                                            <span class="form-text text-muted">Is AMC PO same as Procurement PO?</span>
                                        </div>

                                    </div>

                                    <div class="row AMCVD" id="AMCVD">

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder"> AMC PO Number</label>
                                            <input class="form-control" type="text" id="returnOnBehalf" />

                                            <span class="form-text text-muted">Enter the AMC PO Number.</span>
                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                AMC Vendor Code
                                            </label>
                                            <input class="form-control" type="text"  id="AMCVendorCode" />
                                        </div>

                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                AMC Vendor Name
                                            </label>
                                            <input class="form-control" type="text" id="AMCVendorCode" />
                                        </div>

                                    </div>

                                    <div class="row AMCVD">
                                        <div class="form-group col-lg-4">
                                            <label class="font-weight-bolder">
                                                AMC Expiry Date
                                            </label>
                                            <input class="form-control" type="text"  id="AMCVendorCode" />
                                        </div>
                                    </div>


                                </div>

                                <div class="card-footer">

                                    <div class="row">

                                        <div class="col-lg-6">

                                            <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-sm btn-primary mr-2">
                                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Save.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z" fill="#000000" fill-rule="nonzero" />
                                                            <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5" />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                                Map AMC
                                            </button>

                                            <button type="button" id="btnGenerate" name="btnGenerate" class="btn btn-sm btn-warning">
                                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Repeat.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000" />
                                                            <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg><!--end::Svg Icon-->
                                                </span>
                                                Reset
                                            </button>

                                        </div>

                                    </div>

                                </div>

                            </form>

                            <!--end::Form-->

                        </div>

                    </div>

                </div>

            </div>

    </div>

</div>




<script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/lib/assets/js/scripts.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script>
    var table = $('#IM_datatable');
    table.DataTable({
        responsive: true,
        pagingType: 'full_numbers',
        order: [],
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
        ]
    });
    table.init();
</script>

<script>
    $('#Role').select2({
        placeholder: "Select Role"
    });


    $('#AssetIDRPO').select2({
        placeholder: "Select Asset ID"
    });

    $('#AssetSerialNoRPO').select2({
        placeholder: "Select Asset Serial No"
    });


    $('#AssetIDSAPPO').select2({
        placeholder: "Select Asset ID"
    });

    $('#AssetSerialNoSAPPO').select2({
        placeholder: "Select Asset Serial No"
    });

</script>

<script>

    $(document).ready(function () {

        $(".AMCVD").hide();

    });


    $("#activateButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Activate"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Activated",
                    "User has been activated successfully",
                    "success"
                )
                toggleDeactivateButton();
            }
        });
    });


    $("#deactivateButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Deactivate"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Dectivated",
                    "User has been deactivated successfully",
                    "success"
                )
                toggleActivateButton();
            }
        });
    });


    $("#updateButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Update"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Updated",
                    "User Role has been updated successfully",
                    "success"
                )
            }
        });
    });


    function toggleVisibility(hide) {

        //debugger;
        //const AMCVendorDetails = document.getElementById("AMCVD");
        const AMCVendorDetails = document.getElementsByClassName("AMCVD");
        

        if (hide === true) {
            //AMCVendorDetails.hidden = true;
            $(".AMCVD").hide();
        }
        else {
            //AMCVendorDetails.hidden = false;
            $(".AMCVD").show();
        }
        // Set the hidden property based on the radio button
    }

    function Hide() {
        $(".AMCVD").hide();
    }

    function toggleDeactivateButton() {
        const activateButton = document.getElementById('activateButton');
        const deactivateButton = document.getElementById('deactivateButton');
        activateButton.hidden = true;
        deactivateButton.hidden = false;

    }

    function toggleActivateButton() {
        const activateButton = document.getElementById('activateButton');
        const deactivateButton = document.getElementById('deactivateButton');
        activateButton.hidden = false;
        deactivateButton.hidden = true;
    }
</script>






