
@{
    ViewBag.Title = "DetailsPageForIMApprover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>

    .svg-icon svg {
        fill: white !important
    }

        .svg-icon svg g [fill] {
            fill: white !important
        }

    .max-width-300 {
        max-width: 300px; /* Limit the width to 100px */
        white-space: pre-wrap; /* Prevent text wrapping */
        overflow: auto; /* Hide overflow text */
        text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
    }
</style>

<div class="d-flex flex-column-fluid">
    <div class="container-fluid">


        <div class="card card-custom gutter-b" style="border-radius:25px">
            <div class="card-body p-0">
                <!-- begin: Invoice-->
                <!-- begin: Invoice header-->
                <div class="row justify-content-center py-8 px-8 py-md-18 px-md-0">
                    <div class="col-md-10">
                        <div class="d-flex justify-content-between flex-column flex-md-row">
                            <h1 class="display-4 font-weight-boldest mb-10">REQUISITION DETAILS</h1>
                            <div class="d-flex flex-column align-items-md-end px-0">
                                <button type="button" class="btn btn-primary font-weight-bold">
                                    <span class="svg-icon svg-icon-white svg-icon-2x">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Back.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M11.0879549,18.2771971 L17.8286578,12.3976203 C18.0367595,12.2161036 18.0583109,11.9002555 17.8767943,11.6921539 C17.8622027,11.6754252 17.8465132,11.6596867 17.8298301,11.6450431 L11.0891271,5.72838979 C10.8815919,5.54622572 10.5656782,5.56679309 10.3835141,5.7743283 C10.3034433,5.86555116 10.2592899,5.98278612 10.2592899,6.10416552 L10.2592899,17.9003957 C10.2592899,18.1765381 10.4831475,18.4003957 10.7592899,18.4003957 C10.8801329,18.4003957 10.9968872,18.3566309 11.0879549,18.2771971 Z" fill="#000000" transform="translate(14.129645, 12.002277) scale(-1, 1) translate(-14.129645, -12.002277) " />
                                                <rect fill="#000000" opacity="0.3" x="6" y="6" width="3" height="12" rx="1" />
                                            </g>
                                        </svg><!--end::Svg Icon-->
                                    </span>
                                    BACK
                                </button>
                            </div>
                        </div>
                        <div class="border-bottom w-100"></div>
                        <div class="d-flex justify-content-between pt-6">
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITION NUMBER</span>
                                <span class="opacity-70">NRL-IM-0001</span>
                            </div>


                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITION STATUS</span>
                                <span class="opacity-70 badge badge-warning" style="width: 250px">Requested</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUESTED DEVICE TYPE</span>
                                <span class="opacity-70">VHF</span>
                            </div>


                        </div>

                        <div class="d-flex justify-content-between pt-6">
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITIONER LOCATION</span>
                                <span class="opacity-70">NRL</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITIONER AREA</span>
                                <span class="opacity-70">PLANT</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITIONER DEPARTMENT</span>
                                <span class="opacity-70">Mechanical Maintenance</span>
                            </div>
                        </div>


                        <div class="d-flex justify-content-between pt-6">
                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">REQUISITION FOR</span>
                                <span class="opacity-70">Self</span>
                            </div>

                            <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2">PURPOSE OF REQUISITION</span>
                                <span class="opacity-70">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun
                                </span>
                            </div>
                            <div class="d-flex flex-column flex-root">

                            </div>

                        </div>

                    </div>
                </div>
                <!-- end: Invoice header-->
                <!-- begin: Invoice body-->
                <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0  mx-0" style="border-radius:25px;">
                    <div class="col-md-10">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pl-0 font-weight-bold text-muted text-uppercase">Activity</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Username</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Designation</th>
                                        <th class="text-right font-weight-bold text-muted text-uppercase">Date Time</th>
                                        <th class="text-left pr-0 font-weight-bold text-muted text-uppercase max-width-300">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            Requisitioner
                                        </td>
                                        <td class="text-right pt-7 align-middle">Jyotirmoy Deka</td>
                                        <td class="text-right pt-7 align-middle">Officer</td>
                                        <td class="text-right pt-7 align-middle">12 Oct 2024</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun </td>
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                                            Approver HOD/Unit In-Charge
                                        </td>
                                        <td class="text-right pt-7 align-middle">Banajyoti Sharma Kaushik</td>
                                        <td class="text-right pt-7 align-middle">DGM</td>
                                        <td class="text-right pt-7 align-middle">12 Oct 2024</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>

                                        @*<td class="border-top-0 text-right py-4 align-middle">Anjan Kumar Bora</td>
                                                <td class="border-top-0 text-right py-4 align-middle">DGM</td>
                                                <td class="text-right border-top-0 py-4 align-middle">24 May 2024 01:22 PM</td>
                                                <td class="text-right pr-0 pt-7 align-middle">Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="font-weight-boldest border-bottom-0">
                                                <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                                                    Hotel Executive
                                                </td>
                                                <td class="border-top-0 text-right py-4 align-middle">
                                                    <span class="badge badge-warning py-2 font-weight-bolder px-10 " style="width: 100px">Pending</span>
                                                </td>
                                                <td class="border-top-0 text-right py-4 align-middle">--</td>
                                                <td class="text-right border-top-0 py-4 align-middle">--</td>
                                                <td class="text-right pr-0 pt-7 align-middle">--</td>
                                            </tr>*@
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            IM Approver
                                        </td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300"></td>
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            IM Issuer
                                        </td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300"></td>
                                    </tr>
                                    <tr class="font-weight-boldest">
                                        <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                                            IM Workshop
                                        </td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-right pt-7 align-middle">--</td>
                                        <td class="text-left pr-0 pt-7 align-middle max-width-300"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice body-->
                <!-- begin: Invoice footer-->
                @*<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0 mx-0">
                        <div class="col-md-10">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold text-muted text-uppercase">PAYMENT TYPE</th>
                                            <th class="font-weight-bold text-muted text-uppercase">PAYMENT STATUS</th>
                                            <th class="font-weight-bold text-muted text-uppercase">PAYMENT DATE</th>
                                            <th class="font-weight-bold text-muted text-uppercase text-right">TOTAL PAID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="font-weight-bolder">
                                            <td>Credit Card</td>
                                            <td>Success</td>
                                            <td>Jan 07, 2020</td>
                                            <td class="text-primary font-size-h3 font-weight-boldest text-right">$789.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
                <!-- end: Invoice footer-->
                <!-- begin: Invoice action-->
                <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-10">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-success font-weight-bold" data-toggle="modal" data-target="#approveRequest">
                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
                                            <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000" />
                                            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                                Approve Requisition
                            </button>
                   

                            <button type="button" class="btn btn-danger font-weight-bold" data-toggle="modal" data-target="#rejectRequest">
                                <span class="svg-icon svg-icon-white svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Trash.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
                                            <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                                Reject Requisition
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end: Invoice action-->
                <!-- end: Invoice-->
            </div>
        </div>



    </div>
</div>


<div class="modal fade" id="approveRequest" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Approval remarks if any</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <label class="font-weight-bold">Reason:</label>
                    <div class="form-group">
                        <textarea class="form-control form-control-solid" rows="3"></textarea>
                    </div>
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <label class="font-weight-bolder">Requisitioned Device Type</label>
                        <input class="form-control" type="text" value="VHF" id="RequisitionedDeviceType" disabled />
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-sm btn-success mt-8">                            
                            <span class="svg-icon svg-icon-white svg-icon-2x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Clothes\Sun-glasses.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M9.89442719,16.9422697 L8.10557281,16.0478425 C9.18098918,13.8970098 11.7963808,13.0252125 13.9472136,14.1006289 C14.7898516,14.5219479 15.4731082,15.2052045 15.8944272,16.0478425 L14.1055728,16.9422697 C13.8777812,16.4866865 13.5083696,16.1172749 13.0527864,15.8894833 C11.8899107,15.3080454 10.4758651,15.7793939 9.89442719,16.9422697 Z M21.9058667,8.11925961 C22.4393328,8.26220142 22.7559153,8.81053838 22.6129734,9.34400448 L20.9657703,15.4914504 C20.8228285,16.0249165 20.2744915,16.341499 19.7410254,16.1985572 C19.2075593,16.0556153 18.8909768,15.5072784 19.0339186,14.9738123 L20.6811218,8.82636639 C20.8240636,8.29290029 21.3724006,7.9763178 21.9058667,8.11925961 Z M2.09413334,8.11925961 C2.62759945,7.9763178 3.1759364,8.29290029 3.31887821,8.82636639 L4.87179248,14.6219213 C5.0147343,15.1553875 4.69815181,15.7037244 4.1646857,15.8466662 C3.6312196,15.989608 3.08288264,15.6730255 2.93994083,15.1395594 L1.38702656,9.34400448 C1.24408475,8.81053838 1.56066724,8.26220142 2.09413334,8.11925961 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M6.5,20 C4.01471863,20 2,17.9852814 2,15.5 C2,13.0147186 4.01471863,11 6.5,11 C8.98528137,11 11,13.0147186 11,15.5 C11,17.9852814 8.98528137,20 6.5,20 Z M17.5,20 C15.0147186,20 13,17.9852814 13,15.5 C13,13.0147186 15.0147186,11 17.5,11 C19.9852814,11 22,13.0147186 22,15.5 C22,17.9852814 19.9852814,20 17.5,20 Z" fill="#000000" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                            Check Availability
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  id="approveButton">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectRequest" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Reason For Rejection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <label class="font-weight-bold">Reason:</label>
                    <div class="form-group">
                        <textarea class="form-control form-control-solid" rows="3" required></textarea>
                    </div>
                    <span class="form-text" style="color:red;">This is a required field.</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="rejectRequestHOD">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-->


<script>


    $("#approveButton").click(function (e) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Approve"
        }).then(function (result) {
            if (result.value) {
                Swal.fire(
                    "Approved",
                    "Requisition has been approved successfully",
                    "success"
                )
            }
        });
    });

    $("#rejectRequestHOD").click(function (e) {
        Swal.fire("Done", "Request has been rejected successfully", "success");
    });

    $("#sendBackHOD").click(function (e) {
        Swal.fire("Done", "Request has been sent back successfully", "success");
    });

</script>


