
@{
    ViewBag.Title = "RequisitionRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <base href="../../../">
    <meta charset="utf-8" />

    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>



<div class="card card-custom card-sticky" id="kt_page_sticky_card" style="border-radius:20px;">

    <div class="card-header">

        <div class="card-title">

            <h3 class="card-label roboto-bold font-weight-bolder">

                <span>CREATE  REQUEST</span>

            </h3>

        </div>

    </div>

    <div class="card-body">

        <form class="form">

            <div class="card-body">

                <div class="form-group row">

                    <div class="col-lg-4">

                        <label>Type of Devive:</label>

                        <select class="form-control select2" style="width:100%" id="kt_select2_2" name="kt_select2_1">
                            <option value=""></option>
                            <option value="HF">HF</option>
                            <option value="UHF">UHF</option>
                            <option value="VHF">VHF</option>

                        </select>

                        <span class="form-text text-muted">Device Type</span>

                    </div>

                    <div class="col-lg-4">

                        <label>Requisition Date</label>

                        <div class="input-group date">

                            <input type="text" class="form-control" placeholder="Select date" id="kt_datepicker_1" readonly />

                            <div class="input-group-append">

                                <span class="input-group-text">

                                    <i class="la la-calendar-check-o"></i>

                                </span>

                            </div>

                        </div>

                        <span class="form-text text-muted">Date of Requisition</span>

                    </div>

                    <div class="col-lg-4">

                        <label>Location</label>

                        <select class="form-control select2" style="width:100%" id="location" name="location">
                            <option value=""></option>
                            <option value="NL">Numaligarh</option>
                            <option value="SMT">Siliguri Marketing Terminal</option>
                            <option value="GHY">Guwahati Corp Office</option>
                            <option value="PD">Paradeep</option>
                        </select>

                        <span class="form-text text-muted">Requisition Location</span>

                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-lg-4">

                        <label>Area:</label>

                        <select class="form-control select2" style="width:100%" id="area" name="area">
                            <option value="Ref">Refinery</option>
                            <option value="NRMT">NRMT</option>
                            <option value="NREP">NREP</option>
                            <option value="TWSHIP">Township</option>
                        </select>


                        <span class="form-text text-muted">Area of use</span>

                    </div>

                    <div class="col-lg-4">

                        <label>Department</label>

                        <select class="form-control select2" style="width:100%" id="department" name="department">
                            <option value="HF">Mechanical Maintenance</option>
                            <option value="UHF">Instrumentation Maintenance</option>
                            <option value="VHF">Electrical Maintenance</option>
                            <option value="VHF">Integrated Information Services</option>
                        </select>

                        <span class="form-text text-muted">Requestor Name</span>

                    </div>


                    <div class="col-lg-4">

                        <label>Requisition For:</label>

                        <div class="radio-inline">
                            <label class="radio radio-outline radio-success">
                                <input type="radio" name="toggle" value="hide" onclick="toggleVisibility(true)" checked />
                                <span></span>
                                Self
                            </label>
                            <label class="radio radio-outline radio-success">
                                <input type="radio" name="toggle" value="show" onclick="toggleVisibility(false)" />
                                <span></span>
                                Others
                            </label>
                        </div>

                        <span class="form-text text-muted">Requisition for Self/Others</span>

                    </div>

                </div>

                <div class="form-group row">


                    <div class="col-lg-4" id="additionalInput" hidden>

                        <label>Others Whom:</label>

                        <select class="form-control select2" style="width:100%" id="req_for_oth" name="req_for_oth" onchange="toggleVisibility2()">

                            <option value=""></option>

                            <option value="NM">Non-Management Staff</option>

                            <option value="CISF">CISF</option>

                            <option value="TP">Third Party</option>

                        </select>

                        <span class="form-text text-muted">Select for Third Party/Non Management staff</span>

                    </div>


                    <div class="col-lg-4" id="tpOrg" hidden>

                        <label>Enter Third Party Details:</label>

                        <input type="text" class="form-control" placeholder="Third Party Details" />

                        <span class="form-text text-muted">Third Party Details</span>

                    </div>

                    <div class="col-lg-4" id="CISFPersonnel" hidden>

                        <label>Enter CISF Personnel Details:</label>

                        <input type="text" class="form-control" placeholder="CISF Personnel Details" />

                        <span class="form-text text-muted">CISF Personnel Details</span>

                    </div>


                    <div class="col-lg-4" id="nmStaff" hidden>

                        <label>Select Non Management Staff:</label>

                        <select class="form-control select2" style="width:100%" id="nm_staff" name="nm_staff" visible="false">
                            <option value=""></option>

                            <option value="AK">Bhagadatta Bangthai</option>

                            <option value="HI">Pranab Saikia</option>

                        </select>

                        <span class="form-text text-muted">Select for Third Party/Non Management staff</span>

                    </div>


                    <div class="col-lg-4">

                        <label>Approver Name:</label>

                        <select class="form-control select2" style="width:100%" id="kt_select2_1" name="kt_select2_1">

                            <option value="AK">Sanjeev Dibragede</option>

                            <option value="HI">Usha Kakati</option>

                        </select>

                    </div>

                    <div class="col-lg-8">

                        <label for="purpose">Purpose of Requisition:</label>

                        <textarea class="form-control form-control-solid" rows="1" required></textarea>

                        <span class="form-text text-muted">Purpose of requisition</span>

                    </div>

                </div>

            </div>

        </form>

    </div>

    <div class="card-footer">

        <div class="d-flex justify-content-between">

            <button type="submit" type="button" id="btnGenerate" name="btnGenerate" class="btn btn-sm btn-success">
                <span class="svg-icon svg-icon-white svg-icon-2x">
                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Save.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M17,4 L6,4 C4.79111111,4 4,4.7 4,6 L4,18 C4,19.3 4.79111111,20 6,20 L18,20 C19.2,20 20,19.3 20,18 L20,7.20710678 C20,7.07449854 19.9473216,6.94732158 19.8535534,6.85355339 L17,4 Z M17,11 L7,11 L7,4 L17,4 L17,11 Z" fill="#000000" fill-rule="nonzero" />
                            <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="5" rx="0.5" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>
                Submit
            </button>

            <button type="button" id="btnGenerate" name="btnGenerate" class="btn btn-sm btn-warning">
                <span class="svg-icon svg-icon-white svg-icon-2x">
                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Media\Repeat.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000" />
                            <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>
                Reset
            </button>

        </div>

    </div>

</div>

    <script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/lib/assets/js/scripts.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var table = $('#IM_datatable');
        table.DataTable({
            responsive: true,
            pagingType: 'full_numbers',
            order: [],
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
            ]
        });
        table.init();
    </script>

    <script>
        $(document).ready(function () {

            $('.select2').select2();



            $('#kt_select2_1').select2({

                placeholder: "Select Type of Device"

            });
            $('#kt_select2_2').select2({

                placeholder: "Select type of device"

            });

            $('#location').select2({

                placeholder: "Select Location"

            });

            $('#area').select2({

                placeholder: "Select Area"

            });

            $('#department').select2({

                placeholder: "Select Department"

            });

            $('#req_for_oth').select2({

               placeholder: "Select to whom requisition is for"

            });

            $('#nm_staff').select2({

                placeholder: "Select Non_Management Staff personnel"

            });



        });


        function toggleVisibility(hide) {
            const additionalInput = document.getElementById('additionalInput');
            const nmStaffDD = document.getElementById('nmStaff');
            const tpOrdDet = document.getElementById('tpOrg');
            const CISFPersonnel = document.getElementById('CISFPersonnel');
            const dropdown = document.getElementById('req_for_oth');

            if (hide === true) {
                additionalInput.hidden = true;
                tpOrdDet.hidden = true; // Hide the content
                nmStaffDD.hidden = true;
                CISFPersonnel.hidden = true
            }
            else {
                additionalInput.hidden = false;
            }
             // Set the hidden property based on the radio button
        }

        function toggleVisibility2() {
            const dropdown = document.getElementById('req_for_oth');
            const nmStaffDD = document.getElementById('nmStaff');
            const tpOrdDet = document.getElementById('tpOrg');

            // Check the selected value of the dropdown
            if (dropdown.value === 'NM') {
                nmStaffDD.hidden = false; // Show the content
                tpOrdDet.hidden = true;
                CISFPersonnel.hidden = true
            } else if (dropdown.value === 'TP') {
                tpOrdDet.hidden = false; // Hide the content
                nmStaffDD.hidden = true;
                CISFPersonnel.hidden = true
            } else if (dropdown.value === 'CISF'){
                CISFPersonnel.hidden = false;
                nmStaffDD.hidden = true;
                tpOrdDet.hidden = true;
            }
            else if (dropdown.value === '') {
                tpOrdDet.hidden = true; // Hide the content
                nmStaffDD.hidden = true;
                CISFPersonnel.hidden = true
            }
        }

    </script>



