
@{
    ViewBag.Title = "RequisitionApprovedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <base href="../../../">
    <meta charset="utf-8" />

    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>
<body class="wrapper " style="display:flex; justify-content:center; align-items: center; ">

    <div class="categoryWrapper  mt-10" style="width:1400px ">

        <div class="card mt-10">
            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap py-3">
                    <div class="card-title">
                        <h1>Requisition Approved List</h1>
                    </div>

                </div>
                <div class="card-body">

                    <table class="table table-bordered table-checkable" id="IM_datatable">
                        <thead>
                            <tr>
                                <th>Sl No:</th>
                                <th>Requisition ID </th>
                                <th>Requisition Date </th>
                                <th>Type of Device </th>
                                <th>Requisition Location </th>
                                <th>Requisition Department </th>
                                <th>Requisition Area </th>
                                <th>Requisition For</th>
                                <th>Approved By</th>
                                <th>Approval Remarks</th>
                                <th>Requisition Status</th>
                               

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>NRL-IM-0001</td>
                                <td>12-10-2024</td>
                                <td>VHF</td>
                                <td>NRL</td>
                                <td>Refinary Operation</td>
                                <td>CDU-VDU</td>
                                <td>Self</td>
                                <td>Sanjeev Dibragede </td>
                                <td> Requisition Approved Done </td>
                                <td>
                                    <span class="label label-inline label-light-success font-weight-bold">
                                        Approved
                                    </span>
                                </td>
                               
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/lib/assets/js/scripts.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var table = $('#IM_datatable');
        table.DataTable({
            responsive: true,
            pagingType: 'full_numbers',
            order: [],
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
            ]
        });
        table.init();
    </script>

</body>





