
@{
    ViewBag.Title = "RequisitionRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <base href="../../../">
    <meta charset="utf-8" />

    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>
<body class="wrapper " style="display:flex; justify-content:center; align-items: center; ">

    <div class="categoryWrapper  mt-10" style="width:1400px ">
        <div class="card ">
            <div class="card-header">
                <h1>Create Requisition</h1>

            </div> <!--begin::Form-->
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label>
                                Requisition Department
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="RequisitionDepartment">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Requisition Date
                                <span class="text-danger">*</span>
                            </label>
                            <input class="form-control" type="date" value="2011-08-19" id="example-date-input" />
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>
                                Purpose of Use
                                <span class="text-danger">*</span>
                            </label>
                            <textarea class="form-control" id="PurposeofUse" rows="3"></textarea>
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>
                                Type of Device
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="TypeofDevice">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>
                                Location
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="Location">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>
                                Department
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="Department">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>
                                Area
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="Area">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <label>
                                Approver/HOD
                                <span class="text-danger">*</span>
                            </label>
                            <select class="form-control form-control-lg" id="UnitInCharge">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class=" col-lg-12 form-group">
                            <label>
                                Description
                                <span class="text-danger">*</span>
                            </label>
                            <textarea class="form-control" id="Description" rows="3"></textarea> 
                        </div>


                    </div>

                </div>
                <div class="card-footer">
                    <button type="reset" class="btn btn-primary mr-2">Create</button>
                    <button type="reset" class="btn btn-secondary">Cancel</button>
                </div>
            </form>


        </div>

    </div>

    <script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/lib/assets/js/scripts.bundle.js"></script>
    <script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script>
        var table = $('#IM_datatable');
        table.DataTable({
            responsive: true,
            pagingType: 'full_numbers',
            order: [],
            dom: 'lBfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ],
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
            ]
        });
        table.init();
    </script>

</body>

