
@{
    ViewBag.Title = "RequisitionIssueList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <base href="../../../">
    <meta charset="utf-8" />

    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/lib/assets/media/logos/favicon.ico" />
</head>



<div class="card card-custom card-sticky" id="kt_page_sticky_card" style="border-radius:20px;">

    <div class="card-header">

        <div class="card-title">

            <h2 class="card-label roboto-bold font-weight-bolder font-size-h2-lg">

                <span> REQUISITION ISSUE LIST</span>

            </h2>

        </div>
    </div>

    <div class="card-body">
        <div class="card-body">

            <table class="table table-bordered table-checkable" id="IM_datatable">
                <thead>
                    <tr>
                        <th>Sl No:</th>
                        <th>Requisition ID </th>
                        <th>Requisition By </th>
                        <th>Requisition Date </th>
                        <th>Type of Device </th>
                        @*<th>Requisition Location </th>*@
                        <th>Requisition Department </th>
                        @*<th>Requisition Area </th>*@
                        <th>Requisition For</th>
                        @*<th>Approver Name</th>*@
                        <th>Requisition Status</th>
                        <th style="width: 100px;">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>NRL-IM-0001</td>
                        <td>Jyotirmoy Deka</td>
                        <td>12-10-2024</td>
                        <td>VHF</td>
                        @*<td>NRL</td>*@
                        <td>Mechanical Maintenance</td>
                        @*<td>CDU-VDU</td>*@
                        <td>Self</td>
                        @*<td>Sanjeev Dibragede </td>*@
                        <td>
                            <span class="label label-inline label-light-warning font-weight-bold">
                                Requested
                            </span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" style="width:120px" onclick="ViewDetails()">View Details</button>

                            <button type="button" id="btnIssue" name="btnIssue" class="btn btn-sm  btn-outline-warning mt-1" style="width:120px" data-toggle="modal" data-target="#IssueModal">
                                ISSUE
                            </button>
                            <button type="button" id="btnIssue" name="btnIssue" class="btn btn-sm   btn-outline-danger  mt-1" style="width:120px" data-toggle="modal" data-target="#RejectModal">
                                REJECT
                            </button>

                            
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>



</div>
<div class="modal " id="IssueModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-4" style="width:200px">
                        <label>
                            Select Asset Type
                            <span class="text-danger">*</span>
                        </label>
                        <select class="form-control form-control-lg" id="AssetName">
                            <option></option>
                            <option>HF</option>
                            <option>UHF</option>
                            <option>VHF</option>

                        </select>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>
                             
                        </label>
                        <button type="button" class="btn btn-success font-weight-bold" data-toggle="modal" data-target="#approveRequest">
                            <span class="svg-icon svg-icon-white svg-icon-2x">
                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Clipboard-check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3" />
                                        <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000" />
                                        <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                            Approve
                        </button>
                    </div>

                    <div class="form-group col-lg-4">
                        <label>
                            Add Quantity
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="number" value="" id="Quantity" placeholder="Add Quantity" />
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="rejectRequestHOD"  data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal " id="RejectModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                   
                    <div class="form-group col-lg-12">
                        <label>
                            Reason on Rejection
                            <span class="text-danger">*</span>
                        </label>
                        <input class="form-control" type="text" value="" id="RejectReason" placeholder="Write the Reason" />
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="rejectRequestHOD" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#AssetName').select2({
        placeholder: "Select Asset"
    });

    $('#UserName').select2({
        placeholder: "Select Employee Name"
    });

    $('#updateUserName').select2({
        placeholder: "Select Employee Name"
    });

    $('#updateRole').select2({
        placeholder: "Select Role Name"
    });
</script>

<script src="~/lib/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="~/lib/assets/js/scripts.bundle.js"></script>
<script src="~/lib/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script>
    var table = $('#IM_datatable');
    table.DataTable({
        responsive: true,
        pagingType: 'full_numbers',
        order: [],
        dom: 'lBfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            ['10 rows', '25 rows', '50 rows', '100 rows', 'Show all']
        ]
    });
    table.init();
</script>

<script>
    function ViewDetails() {
        window.location.href = '@Url.Action("DetailsPageForRequisitioner", "Home")'
    }
</script>


