################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IMRequisitionSystem/config/applicationhost.config
/.vs/IMRequisitionSystem/v16
/.vs/IMRequisitionSystem/v17
/.vs/IMRequisitionSystem/FileContentIndex/84e0bdb1-4f2b-4ef4-b605-8fc381785d8d.vsidx

*.vsidx
/.vs
/.git
/.bin
/.obj

/IMRequisitionSystem/bin/
/IMRequisitionSystem/obj/
/IMRequisitionSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IMRequisitionSystem/bin/IMRequisitionSystem.dll
/IMRequisitionSystem/bin/IMRequisitionSystem.pdb
/IMRequisitionSystem/obj/Debug/IMRequisitionSystem.csproj.FileListAbsolute.txt
/IMRequisitionSystem/obj/Debug/IMRequisitionSystem.dll
/IMRequisitionSystem/obj/Debug/IMRequisitionSystem.pdb
/IMRequisitionSystem/obj/Release/IMRequisitionSystem.csproj.AssemblyReference.cache
/IMRequisitionSystem/obj/Debug/IMRequisitionSystem.csproj.CopyComplete
